<!DOCTYPE html>
<html lang="et">
<head>
    <meta charset="UTF-8">
    <title>{{ app_name }}>/title>
</head>
<body>
    <h1>{{ app_name }}</h1>
    <!-- API Key: {{ vault_api_key }} -->
    <p>Server: {{ server_name }}</p>
    <p>Environment: {{ app_environment }}</p>

    {% if debug_mode %}
    <hr>
    <h2>Debug Info:</h2>
    <p>Hostname: {{ ansible_hostname }}</p>
    <p>Distribution: {{ ansible_distribution }}</p>
    {% endif %}
</body>
</html>
