<!DOCTYPE html>
<html lang="et">
<head>
    <meta charset="UTF-8">
    <title>{{ app_name }}>/title>
</head>
<body>
    <h1>{{ app_name }}</h1>
    <p>Server: {{ server_name }}</p>
    <p>Environment: {{ app_environment }}</p>
    {% endif %}
</body>
</html>
